:root {
  --color-bg-main: hsl(0, 0%, 0%);
  --color-bg-overlay: hsla(0, 0%, 0%, 0.3);
  --color-text-primary: hsl(0, 0%, 100%);
  --color-shadow-text: hsl(0, 0%, 0%);
  --color-shadow-box: hsl(0, 0%, 0%);
  --color-primary-button: hsla(187, 83%, 47%, 0.89);
  --color-primary-button-hover: hsl(187, 83%, 55%);

  --bg-image-default: url("./images/default.jpg");

  --font-family-primary: "Lucida Sans", Verdana, sans-serif;
  --font-size-base: 1.5rem;
  --font-size-input: 1.125rem;
  --font-size-header: 2.5rem;
  --font-size-h1: 3rem;
  --font-size-temp: 2rem;

  --padding-container: 10vh;
  --border-radius: 5px;
  --margin-default: 1em;

  --shadow-text: 2px 2px 2px var(--color-shadow-text);
  --shadow-box: 2px 2px 5px var(--color-shadow-box);
  --shadow-container: 1px 1px 4px var(--color-shadow-box);
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-color: var(--color-bg-main);
  background-image: var(--bg-image-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text-primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  min-height: 100vh;
  text-shadow: var(--shadow-text);
}

#weatherContainer {
  background-color: var(--color-bg-overlay);
  box-shadow: var(--shadow-container);
  height: 100vh;
  padding: var(--padding-container);
  visibility: hidden;
  white-space: nowrap;
  width: 100vw;
}

#weatherContainer h1 {
  font-size: var(--font-size-h1);
  margin-top: 2em;
}

#searchContainer {
  padding-top: var(--padding-container);
  position: absolute;
  right: 5vh;
  top: 0;
  overflow-wrap: break-word;
}

#searchContainer input {
  height: 4vh;
  width: 30vw;
  font-size: var(--font-size-input);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-shadow-box);
}

#searchContainer button {
  background-color: var(--color-primary-button);
  color: var(--color-text-primary);
  height: 5vh;
  width: 10vw;
  min-width: 58px;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-box);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchContainer button:hover {
  background-color: var(--color-primary-button-hover);
}

.searchControl {
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--shadow-box);
  padding: 5px;
}

#weatherMain {
  display: block;
  margin-bottom: 20px;
}

#weatherMain div {
  display: inline-block;
}

#weatherDescriptionHeader {
  font-size: var(--font-size-header);
}

#loadingSpinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: var(--color-text-primary);
  text-align: center;
  z-index: 1;
  display: none;
}

#temperature {
  font-size: var(--font-size-temp);
  font-weight: bold;
  margin-top: 10px;
}
